body{
    background-color: lavender;
}
.topnav{
  
    background-color: rgb(13, 16, 39);
    padding: 18px 15px 44px 15px;
    position: sticky;
  top: 0;
  }
  .topnav a {
    float: right;
    color: #f2f2f2;
    text-align: center;
   padding-right: 28px;
   font-size: 20px;
  }
  span
  {
      border: 4px solid rgb(12, 17, 17)
     
    }
  h1#heading {
    
   
   
    color: rgb(23, 26, 26);

    text-align: center;
    padding: 30px 50px 35px 100px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

  }

  .formstyle{
      padding-left: 350px;


  }
  
  .formstyle input{
      height: 30px;
      float: inherit;
      width: 380px;
      margin-left: 100px;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      font-size: 20px;
      
  }
  #message{
    height: 80px;
  }

  #ques{

    
    height: 20px;
    width: 50px;
  }
  #phone{
      margin-left: 21px;
  }
  #message{
    margin-left: 76px;
}

.formstyle label{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    
}
.formstyle p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    
}
#submit{
    margin-bottom: 15px;
}


.navbar{

    background-color: rgb(13, 16, 39);
   border-bottom: 2px solid white;
    padding: 11px 15px 44px 15px;
  }
  .navbar a {
    float: right;
    color: #f2f2f2;
    text-align: center;
   padding-right: 68px;
   font-size: 20px;
  }
  