body{
    background-image: linear-gradient(490deg, rgb(220, 252, 252), rgb(94, 196, 255)) ;
  }
  span
  {
      border: 4px solid rgb(12, 17, 17)
     
    }
  h1#heading {
    
   
   
    color: rgb(23, 26, 26);

    text-align: center;
    padding: 50px 50px 55px 100px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
  }
  .topnav{
  
      background-color: rgb(13, 16, 39);
      padding: 18px 15px 44px 15px;
      position: sticky;
  top: 0;
    }
    .topnav a {
      float: right;
      color: #f2f2f2;
      text-align: center;
     padding-right: 28px;
     font-size: 20px;
    }
    .ruleimg{
        width: 200px;
        height: 200px;
        float: right;
    }
    #ruletable table,th,td{

        border: 2px solid black;
        height: 55px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 18px;
        padding-left: 30px;
        padding-right: 30px;
    }
    #ruletable th{
        background-color: rgb(9, 12, 29) ;
       color: white;
    }

    .navbar{

        background-color: rgb(13, 16, 39);   
        padding: 18px 15px 44px 15px;
      }
      .navbar a {
        float: right;
        color: #f2f2f2;
        text-align: center;
       padding-right: 68px;
       font-size: 20px;
      }
      