body{
  background-color: rgb(230, 247, 240);
}
.topnav{

    background-color: rgb(13, 16, 39);
    padding: 18px 15px 44px 15px;
    position: sticky;
    top: 0;
  }
  .topnav a {
    float: right;
    color: #f2f2f2;
    text-align: center;
   padding-right: 28px;
   font-size: 20px;
  }
  div.gallery {
  
    margin: 39px;    
    float: left;
    width: 250px;
    height: 200px;
    
   
  }
  

  
  div.gallery img {
    width: 90%;
    height: 130%;
    margin-left: 15px;
    border: 6px  rgb(18, 54, 29);
    border-style: double  ;
  }
  
  div.desc {

   
    margin-left: 5px;
    text-decoration-line: none;
    text-align: left;
    padding-left: 20px;
    font-family: 'Times New Roman', Times, serif;
    
    
    font-size: 17px ;
    
  }  

  .navbar{

    background-color: rgb(13, 16, 39);
    padding: 4px 15px 14px 15px;
   top: 130%;
    position: absolute;
    width: 100%;
  }
  .navbar a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding-top: 18px;
   padding-right: 88px;
   font-size: 20px;
  }
  